* {
    margin: 0%;
    padding: 0%;
}

#calcContainer {
    width: 340px;
    height: 550px;
    border: solid 2px black;
    border-radius: 16px;
    margin: 24px auto;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

#displayContainer {
    height: 140px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    /* border: solid 2px blue; */
}

#resultDisplay {
    display: flex;
    align-self: self-end;
    margin-right: 24px;
    max-width: 300px;
    /* border: 2px red solid; */
}

#display {
    border: solid 2px grey;
    margin: 8px 16px 0px;
    height: 75px;
    width: 300px;
    position: relative;
    top: 20px;
}

#topButtonsContainer {
    height: 80px;
    /* border: solid 2px red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    gap: 18px;
}

.wideButton {
    width: 140px;
    height: 50px;
    border: solid 2px grey;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bottomButtonsContainer {
    margin-bottom: 16px;
    max-height: 300px;
    /* border: solid 2px green; */
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    gap: 8px;
}

.smallButton {
    width: 70px;
    height: 50px;
    border: solid 2px grey;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}